solaris
.vscode
local_settings.py
/.test.db
/alembic.ini
alembic/
/devnotes.txt
__pycache__/
/client/routers/__pycache__/
/client/models/__pycache__/
/shared/__pycache__/
/test/client/routers/__pycache__/